<jqxLoader #jqxLoader
           [imagePosition]="'top'"
           [width]="150"
           [height]="90">
</jqxLoader>
<div id="wrapper">
<!-- [slideShow]="true" -->
  <jqxScrollView id="scroll-view" [slideDuration]="4000"  [width]="960" [height]="540" >
    <div id="wide-0" class="photo" (click)="selectMovie($event)"></div>
    <div id="wide-1" class="photo" (click)="selectMovie($event)"></div>
    <div id="wide-2" class="photo" (click)="selectMovie($event)"></div>
    <div id="wide-3" class="photo" (click)="selectMovie($event)"></div>
    <div id="wide-4" class="photo" (click)="selectMovie($event)"></div>
  </jqxScrollView>

<h1>
  Now playing
</h1>
<div class="all-movies">
  <img id="playing-0" class="all-movies-poster" (click)="selectMovie($event)" >
  <img id="playing-1" class="all-movies-poster" (click)="selectMovie($event)" >
  <img id="playing-2" class="all-movies-poster" (click)="selectMovie($event)" >
  <img id="playing-3" class="all-movies-poster" (click)="selectMovie($event)" >
  <img id="playing-4" class="all-movies-poster" (click)="selectMovie($event)" >
</div>
<h1>
  Coming soon
</h1>
<div class="all-movies">
  <img id="coming-0" class="all-movies-poster-coming" (click)="selectMovie($event)" >
  <img id="coming-1" class="all-movies-poster-coming" (click)="selectMovie($event)" >
  <img id="coming-2" class="all-movies-poster-coming" (click)="selectMovie($event)" >
  <img id="coming-3" class="all-movies-poster-coming" (click)="selectMovie($event)" >
  <img id="coming-4" class="all-movies-poster-coming" (click)="selectMovie($event)" >
</div>