<app-header></app-header>
<div class="wrapper">
  <div class="ribbon">
    <span>CONTACT US</span>
  </div>
  <h2>Our Locations</h2>
  <pre>
    Cinemate Belgrade
    Vojvode Stepe 414
    (381) 888-4011
    bg@cinemate.com
  </pre>
  <pre>
    Cinemate Novi Sad
    Laze Kostica 16
    (381) 888-4021
    ns@cinemate.com
  </pre>
  <pre>
    Cinemate Nis
    Nikole Pasica 21
    (381) 888-4018
    nis@cinemate.com
  </pre>
  <pre>
    Cinemate Zrenjanin
    Dositeja Obradovica 55
    (381) 888-4023
    zr@cinemate.com
  </pre>

</div>
<app-footer></app-footer>