.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-data {
  /* margin-left: 5%; */
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  border-bottom-style: inset;
  border-color: black;
}

.delete-user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 600px; */
  margin-left: 5%;
  flex-grow: 0;
}

.delete-button {
  align-self: center;
}

.confirm {
  display: flex;
  flex-direction: row;
}

.password {
  display: flex;
  flex-direction: row;
  width: 550px;
}

jqxPasswordInput {
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
}

h3 {
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
}

h4 {
  color: red;
}

.cancel {
  margin-left: 2%;
}

h2 {
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
}

.fields {
  margin-bottom: 2%;
  margin-left: 3%;
}