<app-header></app-header>
<div *ngIf="!isServerDown" class="wrapper">
  <div class="new-user">
    <h2>New here? <a href="/signup">Sign up</a></h2>
  </div>
  <div>
    <h2>Username or email</h2>
   <jqxInput #emailUsername [width]="200" [height]="30">
   </jqxInput>
  </div>
  <div class="password">
    <h2>Password</h2>
    <jqxPasswordInput #password [width]="200" [height]="30">
    </jqxPasswordInput>
  </div>
  <div class="confirm">
    <jqxButton [width]="200" [height]="30" [template]="'warning'" (onClick)="login()">Login</jqxButton>
    <h4 *ngIf="worngUserOrPassword">Invalid username(email) or password</h4>
    <h4 *ngIf="inputCredentials">Please enter both username(email) and password</h4>
  </div>
</div>
<app-server-down *ngIf="isServerDown"></app-server-down>
<app-footer></app-footer>
