<div #wrapper>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <img width="150" height="60" src="assets/Logo.png">
    <div  class="navbar">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Movies</a>
      <a class="nav-link" href="#">About us</a>
    </div>
  </nav>

  <div class="scrollView">
    <jqxScrollView #myScrollView [width]="300" [height]="425">
      <!-- <div *ngFor="let movie of movies; let i = index"> -->
        <!-- <div><div id="i" class="photo" style="background-image: url(movie.poster)"></div></div> -->
        <!-- <div [style.background-image]="'url(' + (movie.poster) + ')'">
      </div>
      </div> -->
      <!-- <div [style.background-image]="'url(' + (movie.poster) + ')'">
      </div> -->
      <!-- BACKGROUND-SIZE -->
      <div><div class="photo" style="background-image: url(https://m.media-amazon.com/images/M/MV5BOGZjZDgxYTItMDQwYS00MWQ1LTk3ZGEtNjY1MmIwNDk5OWZjXkEyXkFqcGdeQXVyMTA0MjU0Ng@@._V1_SX300.jpg)"></div></div>
      <div><div class="photo" style="background-image: url(https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg)"></div></div>
  </jqxScrollView>
  </div>

  <h1>
    Now playing
  </h1>
  <div>

  </div>

</div>
