<div #wrapper>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <img width="150" height="60" src="assets/Logo.png">
    <div  class="navbar">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Movies</a>
      <a class="nav-link" href="#">About us</a>
    </div>
  </nav>

  <div class="scrollView">
    <jqxScrollView #myScrollView [width]="300" [height]="425">
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
    </jqxScrollView>
  </div>

  <h1>
    Now playing
  </h1>
  <div>
  </div>

</div>
