
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <img width="150" height="60" src="assets/Logo.png">
    <div  class="navbar">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Movies</a>
      <a class="nav-link" href="#">About us</a>
    </div>
  </nav>

  <div id="wrapper">
  <!-- [slideShow]="true" -->
  <!-- <div class="scrollView"> -->
    <jqxScrollView id="scroll-view" #myScrollView [width]="1000" [height]="425">
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
    </jqxScrollView>
  <!-- </div> -->

  <h1>
    Now playing
  </h1>
  <div class="all-movies">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
  </div>
  <h1>
    Coming soon
  </h1>
  <div class="all-movies">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
    <img class="all-movies-poster" src="https://m.media-amazon.com/images/M/MV5BZWM1NzEyNDAtZDFhNi00NzBhLTg3MWEtN2Y1YjI5YTYzZTM5XkEyXkFqcGdeQXVyNDkzNTM2ODg@._V1_SX300.jpg" alt="">
  </div>


</div>
