<div *ngIf="!isServerDown" class="wrapper">
  <div class="form">
    <h1>Update Profile</h1>
    <jqxValidator #validator>
      <jqxForm id="form" #form
      [width]='400'
      [height]="'auto'"
      [template]='template'
      [value]='values'>
    </jqxForm>
    </jqxValidator>
  </div>
  <div class="in-use">
    <h3 *ngIf="emailInUse">Email already in use</h3>
    <h3 *ngIf="wrongPassword">Old password doesn't match</h3>
    <h3 *ngIf="profileIsntUpdated">You haven't changed any profile field</h3>
    <h3 *ngIf="validatonError">Please input values as required</h3>
  </div>
</div>
<div *ngIf="isServerDown" class="server-down">
  <h1>Server is down. Please contact support.</h1>
</div>