<app-header></app-header>
<div *ngIf="isHallIdValid  && isRepertoryIdValid && !isServerDown" class="wrapper">
  <div class="legend">
    <h1>Hall {{hall.name}}</h1>
    <div class="legend-items">
      <div class="wrapper legend-available">
        <h3>Available</h3>
      </div>
      <div class="wrapper legend-reserved">
        <h3>Reserved</h3>
      </div>
      <div class="wrapper legend-reserved-by-you">
        <h3>Resereved by you</h3>
      </div>
    </div>
    <div class="button">
      <jqxButton #jqxButton
        [roundedCorners]="all" [disabled]="seatPosition.length === 0"
        [template]="'inverse'"
        [width]='200'
        [height]='56'
        (onClick)="openModal()">
          Click here to reserve selected seats
        </jqxButton>
      <h6 *ngIf="reservationLimit">You cannot have more than 4 bookings per show</h6>
    </div>
  </div>
  <div class="hall">
    <img class="projector" src="../../../../assets/project-screen.png" alt="">
    <jqxGrid #repertoryGrid id="jqx-grid"
      [source]="dataAdapter" [columns]="columns" [showstatusbar]="true" [rowsheight]="110"
      [autoheight]="true"
      [editable]="false"
      [selectionmode]="'multiplecells'"
      [showheader]="false"
      (onCellselect)="cellSelected($event)"
      (onCellunselect)="cellUnselected($event)">
    </jqxGrid>
  </div>
</div>
<div class="invalid-ids">
  <h1 *ngIf="!isHallIdValid">Hall id in url is not valid</h1>
  <h1 *ngIf="!isRepertoryIdValid">Repertory id in url is not valid</h1>
  <app-server-down *ngIf="isServerDown"></app-server-down>
</div>
<app-footer></app-footer>