.wrapper {
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color:#c9c9c9;
}
.seats {
  flex-grow: 1;
  width: 200;
  height: 350;
}

.action {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

jqxButton {
  margin-left: 5%;
}

h3 {
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
}





