<div class="wrapper">
    <div class="seats">
        <h3>Selected seats</h3>
        <ul *ngFor="let seat of seats">
            <li>Row: {{seat.row}}, column: {{seat.column}}</li>
        </ul>
        <h3>Total: {{totalPrice}} din.</h3>
    </div>
    <div class="action">
        <jqxButton #jqxButtonAccept
            [roundedCorners]="all"
            [template]="'success'"
            [width]='180'
            [height]='40'
            (onClick)="actionFunction()">
            Reserve
        </jqxButton>
        <jqxButton #jqxButtonCancel
            [roundedCorners]="all"
            [template]="'danger'"
            [width]='180'
            [height]='40'
            (onClick)="closeModal()">
            Cancel
        </jqxButton>
    </div>
</div>
