<app-header></app-header>
<div *ngIf="!isServerDown" class="wrapper">
  <div class="form">
    <h1>Sign Up</h1>
    <jqxValidator #validator>
      <jqxForm id="form" #form
      [width]='400'
      [height]="'auto'"
      [template]='template'
      [value]='values'>
    </jqxForm>
    </jqxValidator>
  </div>
  <div class="in-use">
    <h3 *ngIf="usernameInUse">Username already in use</h3>
    <h3 *ngIf="emailInUse">Email already in use</h3>
    <h3 *ngIf="validatonError">Please input values as required</h3>
  </div>
</div>
<app-server-down *ngIf="isServerDown"></app-server-down>
<app-footer></app-footer>