<app-header></app-header>
  <div id="wrapper">
    <div id="title">
      <h1>{{selectedMovie.title}}</h1>
      <h2 class="pg-rated-runtime">{{selectedMovie.rated}} | {{selectedMovie.runtime}}
        <br> {{selectedMovie.released}}
      </h2>
    </div>

    <div class="plot">
      <div class="image-plot">
        <img class="poster" src='../../../../assets/{{selectedMovie.id}}.jpg'>
        <h2 class="plot-header">Plot</h2>
        <p class="plot-text">{{selectedMovie.plot}}</p>
        <h2 class="plot-header">Director</h2>
        <p class="plot-text">{{selectedMovie.director}}</p>
        <h2 class="plot-header">Cast</h2>
        <p class="plot-text">{{selectedMovie.actors}}</p>
      </div>
    </div>

</div>
<app-footer></app-footer>