<app-header></app-header>
<div *ngIf="isMovieIdValid && !isServerDown" id="wrapper">
  <div id="title">
    <h1>{{selectedMovie.title}}</h1>
    <h2 class="pg-rated-runtime">{{selectedMovie.rated}} | {{selectedMovie.runtime}}</h2>
    <h2 class="pg-rated-runtime">In Theaters: {{selectedMovie.released}}</h2>
  </div>

  <div class="plot">
    <div class="image-plot">
      <img class="poster" src='assets/{{selectedMovie.id}}.jpg'>
      <h2 class="plot-header">Plot</h2>
      <p class="plot-text">{{selectedMovie.plot}}</p>
      <h2 class="plot-header">Director</h2>
      <p class="plot-text">{{selectedMovie.director}}</p>
      <h2 class="plot-header">Cast</h2>
      <p class="plot-text">{{selectedMovie.actors}}</p>
    </div>
    <div class="tickets" *ngIf="isMoviePlaying">
      <h1 class="buy-tickets">Reserve tickets online</h1>
      <jqxGrid #repertoryGrid id="jqx-grid"
      [source]="dataAdapter" [columns]="columns" [showstatusbar]="false"
      [autoheight]="true"
      [editable]="false"
      [selectionmode]="'singlecell'"
      [showheader]="false"
      (onCellselect)="cellSelected($event)">
      </jqxGrid>
      <jqxButton #jqxButton [disabled]="!playTime"
      [template]="'inverse'"
      [roundedCorners]="'all'"
      [width]='200'
      [height]='40'
      (onClick)="seatsSelect()">
        Click here to select seats
      </jqxButton>
    </div>
    <div class="tickets" *ngIf="!isMoviePlaying">
      <h1>Coming Soon</h1>
    </div>
  </div>
</div>
<div *ngIf="!isMovieIdValid || isServerDown" class="movie-id-invalid">
  <h1 *ngIf="!isServerDown">Movie id in url is not valid</h1>
  <app-server-down *ngIf="isServerDown"></app-server-down>
</div>
<app-footer></app-footer>