<nav class="navbar fixed-top navbar-dark bg-dark">
  <a href="#">
    <img src="assets/Logo.png">
  </a>
  <div  class="navbar">

    <a class="nav-link" *ngIf="signedInAsAdmin" href="/admin-panel">Admin Panel</a>
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/contact-us">Contact Us</a>
    <a class="nav-link" *ngIf="!isUserLoggedIn" href="/signin">Sign In</a>
    <a class="nav-link" *ngIf="!isUserLoggedIn" href="/signup">Sign Up</a>
    <a class="nav-link" *ngIf="isUserLoggedIn" href="/profile">My Profile</a>
    <a class="nav-link" *ngIf="isUserLoggedIn" (click)="signout()">Sign Out</a>
  </div>
</nav>